.cardUser {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 3vh;
    min-height: 150px;
    padding-bottom: 2vh;

}

.cardUser img {
    border-radius: 50%;
    box-shadow: 2px 2px 14px 3px #929090;
    width: 60%;


}



@media(max-width: 850px) {
    .cardUser {
        text-align: center;
    }

    .cardUser h3 {
        font-size: 2rem;
    }
}