.cardAtividade{
    color: rgb(76, 76, 82);
    background-color: rgb(250, 250, 250);
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 4px;
}
.cardAtividade h3 {
    padding: 0 2%;
    font-size: 1.2rem;
}

.cardAtividade p {
    font-size: 1rem;
    padding: 0 2%;
}

@media (max-width: 767px) {
    .cardAtividade h3, .cardAtividade p {
        padding: 0 1%;
        font-size: 0.8rem;
    }
}