@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #2b2a2a;
}

body {
    background-color: rgb(238, 238, 238);
    
}
.app {
    display: flex;
}

.left-bar {
    width: 21%;
}

nav {
    position: fixed;
    margin-top: 5vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 2px rgb(214, 214, 214);
    border-radius: 0.8rem;
    padding-bottom: 10px;
    background-color: rgb(247, 247, 247);
    color: #ffffff !important;
}

.informacoes-pessoais {
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.8rem;
}

.main-right {
    width: 80%;
    margin-top: 5vh;
    margin-left: 20vw;
}

.atividades {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99.75%;
    margin-bottom: 1rem;
}

.publicacoes {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.cardpublicacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.h1margin{
    margin-bottom: 2rem;
}

@media (max-width: 730px) {

    .app {
        display: unset;
    }

    nav {
        position: unset;
        padding-top: 5vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: unset;
    }

    .informacoes-pessoais {
        margin-top: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 0.5rem;
    }

    .main-right {
        width: 100%;
        margin-top: 3vh;
        margin-left: unset;
    }

    .publicacoes {
        margin-top: 3vh;
    }
}